html, body{
	margin: 0;
	overflow-x: hidden;
}

#hero{
  background-image: url(../views/images/hero-img.jpg);
  background-size:cover;
  position:relative;
  height:100vh;
}

#hero-overlay{
	background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	opacity: 1;
	background-size:cover;
	position:relative;
	height:100vh;
	-webkit-transition: opacity 600ms linear;
	-moz-transition: opacity 600ms linear;
	-o-transition: opacity 600ms linear;
	-ms-transition: opacity 600ms linear;
	transition: opacity 600ms linear;
}

.fixed-theme #hero-overlay{
	 opacity: 0.5;
   -webkit-transition: opacity 800ms linear;
   -moz-transition: opacity 800ms linear;
   -o-transition: opacity 800ms linear;
   -ms-transition: opacity 800ms linear;
   transition: opacity 800ms linear;
}

.header{
  position:absolute;
	display: inline-table;
  top:50%;
	left: 50%;
  text-align:left;
  color:#fff;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%); /* Safari */
  transform: translate(-50%,-50%);
	height: 50px;
	overflow: hidden;
}

h1 {
  height: 50px;
  float: left;
  margin-right: 0.3em;
	font-size: 32px
}
b {
	top: 20px;
	font-size: 32px;
  float: left;
  overflow: hidden;
  position: relative;
  height: 40px;
}
span1 {
	display: inline-block;
	color: #5584ff;
	position: relative;
	white-space: nowrap;
	top: -5px;
	left: 0;
	-webkit-animation: move 5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 1s;
}

@keyframes move {
	0%  { top: -5px; }
	10% { top: -5px; }
	20% { top: -5px; }
	30% { top: -49px; }
	40% { top: -49px; }
	50% { top: -49px; }
	60% { top: -95px; }
	70% { top: -95px; }
	80% { top: -95px; }
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.main{
	height: 400px;
}

.navbar-brand img{
		height: 100px;
		transition: 0.8s;
		-webkit-transition:  0.8s;
}

.navbar-brand.fixed-theme img{
		height: 50px;
		transition: 0.8s;
		-webkit-transition:  0.8s;
}

.brand-img{
	content: url('../views/images/logo-white.png');
}

.navbar-brand.fixed-theme .brand-img{
	content: url('../views/images/logo.png');
}

.navbar-container {
    width: 95%;
}

@media (min-width: 768px){
	.navbar-nav > li > a, .nav-logout-button {
	    padding-top: 40px;
	    padding-bottom: 15px;
	}
	.fixed-theme .navbar-nav > li > a, .nav-logout-button {
    padding-top: 30px;
    padding-bottom: 15px;
	}
}

.nav-logout-button{
	background: none;
	border: none;
	padding: 37px 15px 15px 15px;
	transition: 0.8s;
	-webkit-transition:  0.8s;
	color: #5584ff;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 18px;
}

.fixed-theme .nav-logout-button{
	padding: 27px 15px 15px 15px;
}

.link-button{
	background: none;
	border: none;
	padding: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #5584ff;
		font-family: 'Oswald', sans-serif;
		font-weight: 600;
		font-size: 18px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a{
	height: 75px;
	transition: 0.8s;
	-webkit-transition:  0.8s;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #2958d4;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #eee;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.navbar-toggle{
	z-index: 1;
	margin-top: 35px;
	transition: 0.8s;
	-webkit-transition:  0.8s;
}

.fixed-theme .navbar-toggle{
	margin-top: 20px;
}

.navbar-default{
	background-color: transparent;
	border: none;
}

.navbar a{
	color: #fff;
}

/* The navigation bar */
.navigation {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 80px;
		transition-timing-function: ease-out;
		transition: 0.7s;
}

.navigation.solid{
	background-color: rgba(0,0,0,0.3) !important;
	transition-timing-function: ease-in;
  transition: 0.7s;
}

.right{
	float: right;
}
