html, body{
	margin: 0;
	overflow-x: hidden;
}

#hero{
  background-image:url(../views/images/hero-img.jpg);
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:28px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}

.header h1{
	background-color: rgba(0,0,0,0.5);
    max-width: 50%;
    padding: 30px 0px;
    margin: 0 auto;
}

.main{
	height: 400px;
}

.navbar-brand img{
		height: 100px;
		transition: 0.8s;
		-webkit-transition:  0.8s;
}

.navbar-brand.fixed-theme img{
		height: 50px;
		transition: 0.8s;
		-webkit-transition:  0.8s;
}

.brand-img{
	content: url('../views/images/logo-white.png');
}

.navbar-brand.fixed-theme .brand-img{
	content: url('../views/images/logo.png');
}

.navbar-container {
    width: 95%;
}

@media (min-width: 768px){
	.navbar-nav > li > a, .nav-logout-button {
	    padding-top: 40px;
	    padding-bottom: 15px;
	}
	.fixed-theme .navbar-nav > li > a, .nav-logout-button {
    padding-top: 30px;
    padding-bottom: 15px;
	}
}

.nav-logout-button{
	background: none;
	border: none;
	padding: 40px 15px 15px 15px;
	transition: 0.8s;
	-webkit-transition:  0.8s;
}

.fixed-theme .nav-logout-button{
	padding: 30px 15px 15px 15px;
}

.link-button{
	background: none;
	border: none;
	padding: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a{
	height: 75px;
	transition: 0.8s;
	-webkit-transition:  0.8s;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #eee;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.navbar-toggle{
	z-index: 1;
}

.navbar-default{
	background-color: transparent;
	border: none;
}

.navbar a{
	color: #fff;
}

/* The navigation bar */
.navigation {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 80px;
		transition-timing-function: ease-out;
		transition: 0.7s;
}

.navigation.solid{
	background-color: rgba(0,0,0,0.3) !important;
	transition-timing-function: ease-in;
  transition: 0.7s;
}

.right{
	float: right;
}
