html, body{
	margin: 0;
}

#hero{
  background-image:url(../views/images/hero-img.jpg);
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:28px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}

.header h1{
	background-color: rgba(0,0,0,0.5);
    max-width: 50%;
    padding: 30px 0px;
    margin: 0 auto;
}

.main{
	height: 400px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.navbar-toggle{
	z-index: 1;
}

.navbar a{
	color: #fff;
}

/* The navigation bar */
.navigation {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 80px;
		transition-timing-function: ease-out;
		transition: 0.7s;
}

.navigation.solid{
	background-color: rgba(0,0,0,0.3) !important;
	transition-timing-function: ease-in;
  transition: 0.7s;
}

/*.navbar .nav-left{
	float: left;
}

.navbar .nav-right{
	float: right;
}

.navbar a {
		font-size: 18px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 15px;
    text-decoration: none;
}

.navbar .nav-right a:last-child{
	padding-right: 40px;
}

.navbar .nav-left a {
    padding-top: 15px;
}*/
