html, body{
	margin: 0;
}

#hero{
  background-image:url(views/images/hero-img.jpg);
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:28px;
  -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}

.header h1{
	background-color: rgba(0,0,0,0.5);
    max-width: 50%;
    padding: 30px 0px;
    margin: 0 auto;
}

.main{
	height: 400px;
}


@charset "UTF-8";
.navigation {
  height: 70px;
  background: transparent;
	position: fixed;
	z-index: 1;
	width: 100%;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


/* The navigation bar */
.navigation {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 80px;
		transition-timing-function: ease-out;
		transition: 0.7s;
}

.navigation.solid{
	background-color: rgba(0,0,0,0.3) !important;
	transition-timing-function: ease-in;
  transition: 0.7s;
}

/*.navbar .nav-left{
	float: left;
}

.navbar .nav-right{
	float: right;
}

.navbar a {
		font-size: 18px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 15px;
    text-decoration: none;
}

.navbar .nav-right a:last-child{
	padding-right: 40px;
}

.navbar .nav-left a {
    padding-top: 15px;
}*/
